@import "./variables.scss";

.register-form {
  width: 315px;
  min-height: 500px;

  .form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    .subheadline {
      margin: 0 0 15px 0;
    }

    input {
      padding: 10px 0;
    }

    .checkbox {
      display: inline-block;
      padding: 10px 15px 10px 0;

      &-wrapper {
        text-align: left;
        margin-bottom: 15px;
      }
    }
  }

  .btn-primary {
    z-index: 1;

    &:disabled {
      opacity: 0.5;
    }
  }
  .date-wrapper {
    width: 100%;
  }

  .birth-wrapper,
  .passing-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    input {
      text-align: center;
    }
  }

  &--text {
    text-align: left;
    font-size: 12px;
    margin: 0 0 3px 0;
    font-family: "FontLight";
    text-decoration: none;
    color: $primary-background-color;
    width: 100%;
  }

  .input-100 {
    margin-bottom: 15px;
    padding: 5px 0;
    width: 313px;
    outline: none;
    border: 1px solid $primary-background-color;
  }

  .input-30 {
    width: 75px;
    outline: none;
    border: 1px solid $primary-background-color;
    padding: 5px 0;
  }
}
