@font-face {
    font-family: FontBold;
    src: url("../assets/fonts/ABCFavoritEdu/ABCFavoritEdu-Bold.otf") format("opentype");
}
@font-face {
    font-family: FontBoldItalic;
    src: url("../assets/fonts/ABCFavoritEdu/ABCFavoritEdu-BoldItalic.otf") format("opentype");
}
@font-face {
    font-family: FontBook;
    src: url("../assets/fonts/ABCFavoritEdu/ABCFavoritEdu-Book.otf") format("opentype");
}
@font-face {
    font-family: FontBookItalic;
    src: url("../assets/fonts/ABCFavoritEdu/ABCFavoritEdu-BookItalic.otf") format("opentype");
}
@font-face {
    font-family: FontLight;
    src: url("../assets/fonts/ABCFavoritEdu/ABCFavoritEdu-Light.otf") format("opentype");
}
@font-face {
    font-family: FontLightItalic;
    src: url("../assets/fonts/ABCFavoritEdu/ABCFavoritEdu-LightItalic.otf") format("opentype");
}
@font-face {
    font-family: FontMedium;
    src: url("../assets/fonts/ABCFavoritEdu/ABCFavoritEdu-Medium.otf") format("opentype");
}
@font-face {
    font-family: FontMediumItalic;
    src: url("../assets/fonts/ABCFavoritEdu/ABCFavoritEdu-MediumItalic.otf") format("opentype");
}
@font-face {
    font-family: FontRegular;
    src: url("../assets/fonts/ABCFavoritEdu/ABCFavoritEdu-Regular.otf") format("opentype");
}
@font-face {
    font-family: FontRegularItalic;
    src: url("../assets/fonts/ABCFavoritEdu/ABCFavoritEdu-RegularItalic.otf") format("opentype");
}
@font-face {
    font-family: FontBigCaslon;
    src: url("../assets/fonts/BigCaslon/BigCaslon.ttf") format("truetype");
}


$primary-background-color: #200e7e;
$secondary-background-color: #664fd8; // todo make global scss variables for colors
$primary-font-color: #2c3e50;
$secondary-font-color: #ffffff;

@mixin breakpoint($point) {
  @if $point == xxlarge {
    @media (min-width: 1920px) {
      @content;
    }
  } @else if $point == xlarge {
    @media (min-width: 1440px) {
      @content;
    }
  } @else if $point == large {
    @media (min-width: 1024px) {
      @content;
    }
  } @else if $point == medium {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $point == small {
    @media (max-width: 320px) {
      @content;
    }
  }
}

.section {
  padding: 4rem 20% 2rem;
  background-image: linear-gradient($secondary-background-color, $primary-background-color);
  min-height: 200px;
  color: $secondary-font-color;
  text-align: left;
}

.btn-primary {
  height: 2rem;
  background-image: $primary-background-color;
  border-radius: 1rem;
}
