$primary-background-color: #200e7e;
$secondary-background-color: #664fd8; // todo make global scss variables for colors
$primary-font-color: #2c3e50;
$secondary-font-color: #ffffff;

@mixin breakpoint($point) {
  @if $point == xxlarge {
    @media (min-width: 1920px) {
      @content;
    }
  } @else if $point == xlarge {
    @media (min-width: 1440px) {
      @content;
    }
  } @else if $point == large {
    @media (min-width: 1024px) {
      @content;
    }
  } @else if $point == medium {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $point == small {
    @media (max-width: 320px) {
      @content;
    }
  }
}

.section {
  padding: 4rem 6rem 2rem;
  background-image: linear-gradient($secondary-background-color, $primary-background-color);
  min-height: 200px;
  color: $secondary-font-color;
  text-align: left;
}

.btn-primary {
  height: 2rem;
  background-image: $primary-background-color;
  border-radius: 1rem;
}
