$primary-background-color: #200e7e;
$secondary-background-color: #664fd8; // todo make global scss variables for colors
$primary-font-color: #2c3e50;
$secondary-font-color: #ffffff;

$breakpoints: (
  // key: breakpoint name
  // value: breakpoint size
  default: 0,
  // mobile portrait
  xsmall: 320px,
  // large mobile portrait
  small: 421px,
  // mobile landscape
  medium: 768px,
  // tablet portrait
  large: 1024px,
  // tablet landscape / desktop
  xlarge: 1520px,
  // large desktop
  xxlarge: 1920px // large desktop
);

.section {
  padding: 4rem 20% 2rem;
  background-image: linear-gradient($secondary-background-color, $primary-background-color);
  min-height: 200px;
  color: $secondary-font-color;
  text-align: left;
}

.btn-primary {
  height: 2rem;
  background-image: $primary-background-color;
  border-radius: 1rem;
}
